<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Welcome, <%= username %>!</h1>
    <p>This is your profile page.</p>
    <br/>
    <video src="https://media1.tenor.com/m/VFZGMiwRatcAAAAd/aaiye-aapka-intezaar-tha-intezar.gif"></video>

</body>
</html>